amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.26.post2
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
Django==1.11.7
django-celery==3.2.2
django-mathfilters==0.4.0
django-widget-tweaks==1.4.2
enum34==1.1.6
gunicorn==19.8.1
idna==2.6
ipaddress==1.0.22
kombu==3.0.37
olefile==0.45.1
Pillow==4.3.0
psycopg2==2.7.3.2
pyasn1==0.4.2
pycparser==2.18
PyJWT==1.5.3
pytz==2017.3
requests==2.18.4
six==1.11.0
urllib3==1.22
vine==1.1.4
virtualenv==16.0.0
virtualenv-clone==0.3.0
whitenoise==3.3.1
