.dashboard .card{
    box-shadow: 0px 3px 10px rgba(0,0,0,0.7)
}

@media (max-width: 768px) {
    .dashboard .card-margin{
      margin-top: 40px;
    }
}

.title{
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 26px;
  font-weight: 500;
  line-height: 22px;
  color: #404040;
}

.desc{
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 16px;
  line-height: 18px;
  color: #737373;
  text-overflow: ellipsis;
}
