.osh-btn.-plain.-cart > .label {
    font-size: 12px;
    line-height: 1.1em;
    background: #f99047;
    padding: 2px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    color: #fff;
    min-width: 22px;
    min-height: 22px;
    font-weight: 700;
    text-align: center;
    letter-spacing: -1px;
    text-indent: -1px;
}

.btn{
  border-radius: 0px;
}

a:hover, a:focus, a{
  text-decoration: none;
}

.fa-size{
  font-size: 26px;
}

@media (min-width: 992px) {
  .osh-btn.-plain.-cart > .notification-check{
    right: 4.9%;
  }
}
