{% extends 'base_temp.html' %}
{% load staticfiles %}
{% load isempty %}
{% load widget_tweaks %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-dismissible alert-{{ message.tags }}">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <p>{{ message }}</p>
            </div>
            {% endfor %}
            {% endif %}

        </div>
    </div>

    <div class="row">
        <div class=" offset-md-3 col-md-6 mt-3 mb-3">

              {% if form.non_field_errors %}

              <div class="col-md-12">
                  <div class="alert alert-danger">
                      <ul>
                          {% for error in form.non_field_errors %}
                          <li>{{ error }}</li>
                          {% endfor %}
                      </ul>
                  </div>
              </div>

              {% endif %}

              <div class="form-wrap px-3 mt-5 mb-4">
                <form method="POST" enctype="multipart/form-data">

                    {% csrf_token %}

                            <div class="form-group {% if form.first_name.errors %}has-danger{% endif %}">
                              <label>{{ form.company_name.label }}</label>
                              {% if form.company_name.errors %}
                                {{ form.company_name | add_class:"is-invalid" }}
                                <div class="has-danger">
                                    <div class="help-block">{{ form.company_name.errors }}</div>
                                </div>
                              {% else %}
                                {{ form.company_name}}
                              {% endif %}
                            </div>

                            <div class="form-group {% if form.location.errors %}has-danger{% endif %}">
                              <label>{{ form.location.label }}</label>
                              {% if form.location.errors %}
                                {{ form.location | add_class:"is_invalid" }}
                                <div class="has-danger">
                                    <div class="help-block">{{ form.location.errors }}</div>
                                </div>
                              {% else %}
                                {{ form.location }}
                              {% endif %}
                            </div>

                            <div class="form-group {% if form.phone_no.errors %}has-danger{% endif %}">
                              <label>{{ form.phone_no.label }}</label>

                              {% if form.phone_no.errors %}
                                {{ form.phone_no }}
                                <div class="has-danger">
                                    <div class="help-block">{{ form.phone_no.errors }}</div>
                                </div>
                              {% else %}
                                {{ form.phone_no }}
                              {% endif %}
                            </div>

                            <div class="form-group mt-4">
                                <button type="submit" name="submit" class="btn btn-block btn-success">Submit
                                </button>
                            </div>
                    {# </div> #}
                </form>
              </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}
{% block footer %}
{% include "dashboardFooter.html" %}
{% endblock %}
