<nav class="navbar navbar-expand-md navbar-light sticky-top">
    <a class="navbar-brand text-success" href="{% url "product:list" %}"><img src="/media/khaja.png" alt="KHAJA"
                                                       style="height: auto; width: 80px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon "></span>
    </button>

    <div class="collapse navbar-collapse " id="collapsibleNavbar">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link text-success" href="{% url "cart:display" %}"><i class="fa fa-shopping-cart fa-cart"></i>
                    <sup>{{ request.session.cart_item  }}</sup></a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-success" href="{% url "wishlist:list" %}"><i class="fa fa-heart fa-nav-heart"></i>
                    <sup>{{ request.session.wishlist_item  }}</sup></a>
            </li>
            <li class="nav-item ">
                {#                <a class="nav-link text-success" href="">Login</a>#}
                {% if request.user.is_authenticated %}
                    <a class="nav-link text-success" href="{% url 'users:logout_user' %}">
                        Logout
                    </a>
                {% else %}
                    <a class="nav-link text-success" href="{% url 'users:login_user' %}">
                        Login
                    </a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>