{% load staticfiles %}

<link rel="stylesheet" href="{% static 'css/footer.css' %}">

<div class="footer-divider">
    <div class="overlay">
        <div class="text">
            <h1>- Khaja -</h1>
            <h5><span><i class="fa fa-cutlery"></i></span>&nbsp;&nbsp;&nbsp; AT YOUR SERVICE&nbsp;&nbsp;&nbsp; <span><i
                    class="fa fa-cutlery"></i></span></h5>
        </div>
        <div class="image">
            <img src="/media/samosa.png" alt="Khaja">
        </div>
    </div>
</div>
