{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">


<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="/media/khaja_logo.png" class="img img-responsive" alt="KHAJA" style="margin-left: -32px;">
                <div class="khaja-description">
                    <p> अब खाजा खानका लागि कतै जानु पर्दैन। तपाईंहरुले सोच्नु भयो र अर्डर गर्नु भयो भने खाजा तपाईंहरु कै स्थानमा आउने छ। अब खाजा छ त एक click टाढा। </p>

                </div>
                <div class="social-all">
                    <a href="http://facebook.com"><span><i class="fa fa-facebook"></i></span></a>
                    <a href="http://google.com"><span><i class="fa fa-google"></i></span></a>
                    <a href="http://twitter.com"><span><i class="fa fa-twitter"></i></span></a>
                    <a href="htt://youtube.com"><span><i class="fa fa-youtube"></i></span></a>
                </div>
                <div class="copyright">
                    <p> 2017 Khaja. <br> Designed with <i class="fa fa-heart copyright-heart"></i> by TFC.</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="khaja-contact">
                    <h3 class="footer-header">CONTACT</h3>
                    <p><strong>Address</strong><br><span>Puspa Marg Biratnagar-03, Morang, Nepal</span></p>
                    <p><strong>Hotline</strong><br><span> (+977) 9842574872 <br> (+977) 9811020551 </span></p>
                    <p><strong>Email</strong> <br> <span>info@khaja.com</span></p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="khaja-image">
                    <h3 class="footer-header">KHAJA SPECIAL</h3>
                    {# <img src="/media/khaja1.png" alt="Khaja" style="width: 100%; height: auto;">#}
                    <div id="noo_happyhours-2" class="widget widget_noo_happyhours">
                        <h4 class="widget-title"><i class="fa fa-cutlery"></i>&nbsp; Khaja Special &nbsp; <i
                                class="fa fa-cutlery"></i></h4>
                        <ul class="noo-happyhours">
                            <li style="font-size: 14px; font-weight: 400px; line-height: 26px;">
                                <div style="color: #696969;">
                                    At Your Service.
                                </div>
                                <div>
                                    06:00 am - 08:00 pm daily
                                </div>
                            </li>
                        </ul>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="khaja-working-hour">
                    <h3 class="footer-header">WORKING HOURS</h3>
                    <p><span class="working-day">Sunday to Friday:</span> <a class="working-time" disabled>10:00 am -
                        06:00 pm</a></p>
                    <p><span class="working-day"> Saturday: </span> <a class="working-time" disabled>11:00 am - 08:00
                        pm </a></p>
                </div>


            </div>
        </div>
    </div>
</footer>
