<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="/media/khaja.png" alt="KHAJA" style="height: auto; width: 80px;">
                <div class="khaja-description">
                    <p>Tapai haru la sochnu vayo ra order garnu vayo vana khaja tapai haru kai ghar ma aauna xa. Aauta
                        click
                        la
                        tapai
                        haru ko ghar ma khaja aauna xa.</p>

                </div>
                <div class="social-all">
                    <a href="http://facebook.com"><span><i class="fa fa-facebook"></i></span></a>
                    <a href="http://google.com"><span><i class="fa fa-google"></i></span></a>
                    <a href="http://twitter.com"><span><i class="fa fa-twitter"></i></span></a>
                    <a href="htt://youtube.com"><span><i class="fa fa-youtube"></i></span></a>
                </div>
                <div class="copyright">
                    <p> 2017 Khaja. <br> Designed with <i class="fa fa-heart copyright-heart"></i> by TFC.</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="khaja-contact">
                    <h3 class="footer-header">CONTACT</h3>
                    <p><strong>Address</strong><br><span>Puspa Marg Biratnagar-03, Morang, Nepal</span></p>
                    <p><strong>Hotline</strong><br><span> (+977) 9842574872 <br> (+977) 9811020551 </span></p>
                    <p><strong>Email</strong> <br> <span>info@khaja.com</span></p>
                </div>
            </div>

            <div class="col-md-3">
                <h3 class="footer-header">PHOTO IN FLICKR</h3>
            </div>

            <div class="col-md-3">
                <div class="khaja-working-hour">
                    <h3 class="footer-header">WORKING HOURS</h3>
                    <p><span  class="working-day">Sunday to Friday:</span>  <a class="working-time" disabled>10:00 am - 06:00 pm</a></p>
                    <p><span class="working-day"> Saturday: </span> <a class="working-time" disabled>11:00 am - 08:00 pm </a></p>
                </div>
            </div>
        </div>
    </div>
</footer>