{% extends 'base_temp.html' %}
{% load widget_tweaks %}
{% block  content %}
    {#    {% if not form.instance %}#}
    <div class="container">
        <div class="row">
            <div class="offset-md-4 col-md-4">
                <div class="form mt-5">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                          <label>{{ form.address_line_1.label }} <span class="text-danger">*</span> </label>
                          {% if form.address_line_1.errors %}
                              {{ form.address_line_1|add_class:"is-invalid"}}
                              <div class="invalid-feedback">
                                  {{ form.address_line_1.errors }}
                              </div>
                          {% else %}
                            {{form.address_line_1}}
                          {% endif %}
                        </div>

                        <div class="form-group">
                          <label>{{ form.address_line_2.label }}</label>
                          {% if form.address_line_2.errors %}
                              {{ form.address_line_2|add_class:"is-invalid"}}
                              <div class="invalid-feedback">
                                  {{ form.address_line_2.errors }}
                              </div>
                          {% else %}
                            {{form.address_line_2}}
                          {% endif %}
                        </div>

                        <div class="form-group">
                          <label>{{ form.city.label }} <span class="text-danger">*</span> </label>
                          {% if form.city.errors %}
                              {{ form.city|add_class:"is-invalid"}}
                              <div class="invalid-feedback">
                                  {{ form.city.errors }}
                              </div>
                          {% else %}
                            {{form.city}}
                          {% endif %}
                        </div>

                        <div class="form-group">
                          <label>{{ form.country.label }} <span class="text-danger">*</span> </label>
                          {% if form.country.errors %}
                              {{ form.country|add_class:"is-invalid"}}
                              <div class="invalid-feedback">
                                  {{ form.country.errors }}
                              </div>
                          {% else %}
                            {{form.country}}
                          {% endif %}
                        </div>

                        <div class="form-group">
                          <label>{{ form.state.label }} <span class="text-danger">*</span> </label>
                          {% if form.state.errors %}
                              {% render_field form.state|add_class:"form-control is-invalid" disabled="True" %}
                              <div class="invalid-feedback">
                                  {{ form.state.errors }}
                              </div>
                          {% else %}
                            {% render_field form.state|add_class:"form-control" disabled="True" %}
                          {% endif %}
                        </div>

                        <div class="form-group">
                          <label>{{ form.phone_number.label }} <span class="text-danger">*</span> </label>
                          {% if form.phone_number.errors %}
                              {{ form.phone_number|add_class:"is-invalid"}}
                              <div class="invalid-feedback">
                                  {{ form.phone_number.errors }}
                              </div>
                          {% else %}
                            {{form.phone_number}}
                          {% endif %}
                        </div>
                        <div class="form-group">
                            <a class="btn btn-secondary" href="{% url 'cart:display' %}">Back</a>
                            <span class="text-right" ><input class="btn btn-success" type="submit" value="Next"></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% include 'base_footer_divider.html' %}
{% endblock %}
