{% extends 'base_temp.html' %}

{% load staticfiles %}

{% block extra_stylesheets %}
    <link rel="stylesheet" href="{% static 'css/product_css.css' %}">
    <link rel="stylesheet" href="{% static 'css/image.css' %}"></link>
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="vc_row wpb_row vc_row-fluid vc_custom_1454637962540">
            <div class="container">
                <div class="row">
                    <div class="noo-traslate-atributes wpb_column column_container col-sm-12 col-lg-6 hidden-xs">
                        <div class="vc_column-inner vc_custom_1452065622218">
                            <div class="wpb_wrapper">
                                <div class="noo-atributes">
                                    <img width="694" src="/static/image/burger.png" class="attachment-full size-full"
                                         alt="image-01">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="noo-traslate-product wpb_column vc_column_container col-sm-12 col-lg-6">
                        <div class="vc_column-inner vc_custom_1454662301959">
                            <div class="wpb_wrapper">
                                <div class="noo-short-intro">
                                    <h4 style="font-family: 'Pacifico', cursive">Special Khaja</h4>
                                    <h2>Khaja &nbsp; Ghar</h2>
                                    <div class="price">
                                        <span>Test's</span>
                                        <span style="color: red">Exceptional</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section id="product_list">
        <div class="our-products text-center">
            <h1 style="font-family: 'Pacifico', cursive">Our Company's</h1>
            <p>Delightful local food. The best organic food delivered to your door.</p>
            <ul class="product-list-group">
                <li>
                    <span class="text-success"><i class="fa fa-2x fa-leaf"></i><p>All Product</p></span>
                </li>
                <li>
                    <span class="text-success"><i class="fa fa-2x fa-leaf"></i><p>All Product</p></span>
                </li>
                <li>
                    <span class="text-success"><i class="fa fa-2x fa-leaf"></i><p>All Product</p></span>
                </li>
                <li>
                    <span class="text-success"><i class="fa fa-2x fa-leaf"></i><p>All Product</p></span>
                </li>
                <li>
                    <span class="text-success"><i class="fa fa-2x fa-leaf"></i><p>All Product</p></span>
                </li>
            </ul>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                {% for product in products %}
                    <div class="col-md-4 col-sm-6 col-lg-3">
                        <div class="card">
                            <div class="card-header" style="border: none; background-color: transparent">
                                <img class="card-img-top" src="/media/{{ product.image }}" alt="Card image"
                                     style="width:100%;">
                            </div>
                            <div class="card-body text-center">
                                <div style="margin-bottom: 10px; font-size: larger;">
                                <span class="star-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i></span>
                                    </span>
                                </div>
                                <h4 class="card-title" style="font-weight: bold;">{{ product.product_name }}</h4>
                                <p style="color: #696969;"><span><i
                                        class="fa fa-inr"></i></span> {{ product.product_price }}</p>
                                <a class="btn btn-block btn-success cart-btn"
                                   href="{% url 'product:detail' pk=product.pk %}" style="margin-bottom:-5px"><i
                                        class="fa fa-shopping-cart">&nbsp;&nbsp; ADD TO CART</i></a>
                                <a class="btn btn-block btn-danger cart-btn"
                                   href="{% url 'wishlist:create' pk=product.pk %}"><i class="fa fa-heart">&nbsp;&nbsp;
                                    ADD
                                    TO WISHLIST</i></a>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if products.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}">&laquo;
                            Previous</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link">&laquo; Previous</a></li>
                    {% endif %}
                    {% for i in products.paginator.page_range %}
                        {% if products.number == i %}
                            <li class="page-item active"><a class="page-link" href="#">{{ i }} <span
                                    class="sr-only">(current)</span></a>
                            </li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if products.has_next %}
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{ products.next_page_number }}">Next &raquo;</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link">Next &raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>

        </div>
    </section>

    {% include 'base_footer_divider.html' %}
{% endblock %}